@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

@layer base {

/* ______________________ */
 .tag {
   @apply text-white font-semibold py-1.5 px-6 rounded-md bg-[#1A1C1F];
 }
 .btn-primary {
   @apply bg-[#1A1C1F] ring-transparent	text-white w-full px-6 sm:w-96 py-3 rounded-md hover:bg-[#2C3036] font-bold shadow-md;
 }
 
 .btn-quiz {
   @apply w-full h-full bg-[#EDEFF2] hover:bg-[#1A1C1F] hover:text-white  font-bold py-4 px-4 text-center text-sm md:text-base	 rounded focus:shadow-md focus:text-white;
 }
}