@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  /*-webkit-user-select: none; *//* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

@layer base {

/* ______________________ */
 .tag {
   @apply text-[#333533] font-semibold py-1.5 px-6 rounded-md bg-[#f4f4f4];
 }
 .btn-primary {
   @apply bg-[#333533] ring-transparent	text-white px-16 sm:px-24 py-3 rounded-lg font-bold text-base;
 }
 
 .btn-quiz {
   @apply w-full h-full bg-[#f4f4f4] hover:bg-[#333533] hover:text-white font-bold py-4 px-4 text-center text-sm md:text-base rounded focus:text-white;
 }

 .scrollbar-hide::-webkit-scrollbar {
  display: none;
}
}